$orange-000: #fda158 !default;
$orange-100: #fc7c14 !default;

$blue-lt-000: #d3e7f1 !default;
$blue-lt-100: #79b6d9 !default;

$border-color: $blue-lt-100;

$body-heading-color: $orange-100;

$link-color: $orange-100;
$btn-primary-color: $orange-000;

// $code-background-color: $blue-lt-000;
$code-background-color: $grey-lt-000;
// $search-background-color: $blue-lt-000;
$search-background-color: $grey-lt-000;
// $table-background-color: $blue-lt-000;
$table-background-color: $grey-lt-000;
